#project-organizer-column {
	width: 277px;
	float: left;
	height: 500px;
	clear: both;
	display: block;
}

#project-organizer-column p {
	padding: 5px 10px;
}

#project-organizer-column select {
	width: 80%;
}